<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') %>
</header>

<main>
    <h2 class="white title">djsom <span>( <b>dj</b>'s <b>s</b>ource <b>o</b>f <b>m</b>usic  )</span> - <b>Artists</b> </h2><br>

    <table border="1">
        <tr class="white">
            <th>Artist Name</th>
            <th>Album count</th>
            <th>View artist</th>
        </tr>
        <% artists.forEach((artist) => { %>
                <tr class="white">
                    <td><%= artist.name %></td>
                    <td><%= artist.albums.size %></td>
                    <td><a href="/artist/<%= artist.id %>">View artist</a></td>
                </tr>
            <% }) %>
    </table>
</main>

<footer><br>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>
